@font-face {
  font-family: "digital-7";
  src: url("./fonts/digital-7.ttf");
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background-color: rgb(240, 240, 240);
}

#calculator {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: lightblue;
  padding: 16px;
  border-radius: 16px;
}

#display {
  font-family: "digital-7", sans-serif;
  font-size: 52px;
  text-align: right;
  margin: 4px;
  padding: 8px 4px 4px;
  border-radius: 8px;
  background-color: rgb(150, 150, 150);
  color: rgb(40, 40, 40);
  height: 47.5px;
}

#buttons {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

button {
  margin: 4px;
  font-size: 30px;
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
  border-radius: 8px;
}
 
.toprow {
  background-color: rgb(255, 255, 140);
  border: 2px solid rgb(255, 255, 140);
}

.toprow:hover {
  background-color: rgb(245, 245, 130);
  border-color: rgb(245, 245, 130);
}

.toprow:active {
  border-color: rgb(155, 155, 40);
}

.numeric, #decimal {
  background-color: rgb(240, 240, 240);
  border: 2px solid rgb(240, 240, 240);
}

.numeric:hover, #decimal:hover {
  background-color: rgb(230, 230, 230);
  border-color: rgb(230, 230, 230);
}

.numeric:active, #decimal:active {
  border-color: rgb(140, 140, 140);
}

.operation {
  background-color: rgb(220, 220, 220);
  border: 2px solid rgb(220, 220, 220);
}

.operation:hover {
  background-color: rgb(210, 210, 210);
  border-color: rgb(210, 210, 210);
}

.operation:focus {
  border-color: rgb(120, 120, 120);
}

#equals {
  background-color: rgb(240, 135, 135);
  border: 2px solid rgb(240, 135, 135);
}

#equals:hover {
  background-color: rgb(230, 125, 125);
  border-color: rgb(230, 125, 125);
}

#equals:active {
  border-color: rgb(140, 35, 35);
}
